In [8]:
import pandas as pd

df6 = pd.read_csv('train.csv', encoding='UTF-8', sep=',')

print(df6)

            ID Customer_ID     Month           Name   Age          SSN  \
0       0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265
1       0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265
2       0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265
3       0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265
4       0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265
...        ...         ...       ...            ...   ...          ...
99995  0x25fe9  CUS_0x942c     April          Nicks    25  078-73-5990
99996  0x25fea  CUS_0x942c       May          Nicks    25  078-73-5990
99997  0x25feb  CUS_0x942c      June          Nicks    25  078-73-5990
99998  0x25fec  CUS_0x942c      July          Nicks    25  078-73-5990
99999  0x25fed  CUS_0x942c    August          Nicks    25  078-73-5990

      Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0      Scientist      19114.12            1824.843333                  3  ...
1      Scientist      19114.12                    NaN                  3  ...
2      Scientist      19114.12                    NaN                  3  ...
3      Scientist      19114.12                    NaN                  3  ...
4      Scientist      19114.12            1824.843333                  3  ...
...          ...           ...                    ...                ...  ...
99995   Mechanic      39628.99            3359.415833                  4  ...
99996   Mechanic      39628.99            3359.415833                  4  ...
99997   Mechanic      39628.99            3359.415833                  4  ...
99998   Mechanic      39628.99            3359.415833                  4  ...
99999   Mechanic     39628.99_            3359.415833                  4  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0               _            809.98                26.822620
1            Good            809.98                31.944960
2            Good            809.98                28.609352
3            Good            809.98                31.377862
4            Good            809.98                24.797347
...           ...               ...                      ...
99995           _            502.38                34.663572
99996           _            502.38                40.565631
99997        Good            502.38                41.255522
99998        Good            502.38                33.638208
99999        Good            502.38                34.192463

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
99995   31 Years and 6 Months                     No           35.104023
99996   31 Years and 7 Months                     No           35.104023
99997   31 Years and 8 Months                     No           35.104023
99998   31 Years and 9 Months                     No           35.104023
99999  31 Years and 10 Months                     No           35.104023

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
99995       60.97133255718485   High_spent_Large_value_payments
99996       54.18595028760385  High_spent_Medium_value_payments
99997       24.02847744864441   High_spent_Large_value_payments
99998      251.67258219721603    Low_spent_Large_value_payments
99999       167.1638651610451                            !@9#%8

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
99995          479.866228         Poor
99996           496.65161         Poor
99997          516.809083         Poor
99998          319.164979     Standard
99999          393.673696         Poor

[100000 rows x 28 columns]

C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\3670776720.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv('train.csv', encoding='UTF-8', sep=',')

In [9]:
#Preprocesamiento y limpieza inicial dataset train

#Estadísticas descriptivas iniciales
print(df6.describe())

#Ver tipos de datos
print('Tipos de datos:')
print(df6.dtypes)

       Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  \
count           84998.000000      100000.000000     100000.00000
mean             4194.170850          17.091280         22.47443
std              3183.686167         117.404834        129.05741
min               303.645417          -1.000000          0.00000
25%              1625.568229           3.000000          4.00000
50%              3093.745000           6.000000          5.00000
75%              5957.448333           7.000000          7.00000
max             15204.633333        1798.000000       1499.00000

       Interest_Rate  Delay_from_due_date  Num_Credit_Inquiries  \
count  100000.000000        100000.000000          98035.000000
mean       72.466040            21.068780             27.754251
std       466.422621            14.860104            193.177339
min         1.000000            -5.000000              0.000000
25%         8.000000            10.000000              3.000000
50%        13.000000            18.000000              6.000000
75%        20.000000            28.000000              9.000000
max      5797.000000            67.000000           2597.000000

       Credit_Utilization_Ratio  Total_EMI_per_month
count             100000.000000        100000.000000
mean                  32.285173          1403.118217
std                    5.116875          8306.041270
min                   20.000000             0.000000
25%                   28.052567            30.306660
50%                   32.305784            69.249473
75%                   36.496663           161.224249
max                   50.000000         82331.000000
Tipos de datos:
ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [10]:
#Identificamos caracteres extraños en cada columna

import re

# Función para identificar caracteres extraños en cada columna
def detectar_caracteres_extranos(df6):
    caracteres_por_columna = {}
    for col in df6.columns:
        valores_unicos = ''.join(df6[col].astype(str).unique())  # Unir todos los valores únicos como string
        caracteres_unicos = set(re.findall(r'[^a-zA-Z0-9\s.,-]', valores_unicos))  # Buscar caracteres no alfanuméricos comunes
        if caracteres_unicos:  # Solo guardar columnas con caracteres extraños
            caracteres_por_columna[col] = caracteres_unicos
    return caracteres_por_columna

# Identificar caracteres extraños en el dataframe
caracteres_extranos = detectar_caracteres_extranos(df6)

# Mostrar los resultados
for columna, caracteres in caracteres_extranos.items():
    print(f"Columna: {columna} -> Caracteres extraños detectados: {caracteres}")

Columna: Customer_ID -> Caracteres extraños detectados: {'_'}
Columna: Name -> Caracteres extraños detectados: {'"'}
Columna: Age -> Caracteres extraños detectados: {'_'}
Columna: SSN -> Caracteres extraños detectados: {'$', '&', '*', '@', '#', '%'}
Columna: Occupation -> Caracteres extraños detectados: {'_'}
Columna: Annual_Income -> Caracteres extraños detectados: {'_'}
Columna: Num_of_Loan -> Caracteres extraños detectados: {'_'}
Columna: Num_of_Delayed_Payment -> Caracteres extraños detectados: {'_'}
Columna: Changed_Credit_Limit -> Caracteres extraños detectados: {'_'}
Columna: Credit_Mix -> Caracteres extraños detectados: {'_'}
Columna: Outstanding_Debt -> Caracteres extraños detectados: {'_'}
Columna: Amount_invested_monthly -> Caracteres extraños detectados: {'_'}
Columna: Payment_Behaviour -> Caracteres extraños detectados: {'_', '@', '!', '#', '%'}
Columna: Monthly_Balance -> Caracteres extraños detectados: {'_'}

In [11]:
import numpy as np

#Aplicar limpieza caracteres extraños
#Función para limpiar el dataset según las reglas definidas
def limpiar_columnas(df6):
    #Eliminar guiones bajos y convertir a numérico en columnas específicas
    df6['Age'] = df6['Age'].str.replace('_','', regex=True).astype(float)
    df6['Annual_Income'] = df6['Annual_Income'].str.replace('_','',regex=True).astype(float)

    #Reemplazar guiones bajos por espacios en columnas específicas
    columnas_reemplazo_espacio = ['Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit','Credit_Mix',]
    for col in columnas_reemplazo_espacio:
        df6[col] = df6[col].str.replace('_',' ', regex=True)

    #Eliminar registros con caracteres inválidos
    df6 = df6[~df6['Payment_Behaviour'].str.contains(r'[!%@#]', regex=True)]

    #Reemplazar guines bajos por espacios en Payment_Behaviour
    df6['Payment_Behaviour'] = df6['Payment_Behaviour'].str.replace('_',' ', regex=True)

    return df6

#Aplicar limpieza al dataframe
df6_clean = limpiar_columnas(df6)

#Hacer conversiones adicionales
#Lista de columnas que deben ser numéricas
columnas_a_convertir = ['Num_of_Loan','Num_of_Delayed_Payment','Changed_Credit_Limit']

#Reemplazar espacios vacíos por NaN
df6_clean[columnas_a_convertir] = df6_clean[columnas_a_convertir].replace(' ', np.nan)

#Convertir a numérico
df6_clean[columnas_a_convertir] = df6_clean[columnas_a_convertir].astype(float)

#Verificar si aún hay NaN
print('Verificar si aún hay Nan en columnas a convertir')
print(df6_clean[columnas_a_convertir].isnull().sum())

#Revisar si hay columnas que deberían ser numéricas
num_cols = ['Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Outstanding_Debt', 'Num_of_Loan',
            'Num_of_Delayed_Payment','Changed_Credit_Limit',
            'Credit_Utilization_Ratio','Credit_History_Age','Total_EMI_per_month',
            'Amount_invested_monthly','Monthly_Balance']
for col in num_cols:
    df6[col] = pd.to_numeric(df6[col], errors='coerce')

#Verificar cambios
print(df6.dtypes)

C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\323143973.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Payment_Behaviour'] = df6['Payment_Behaviour'].str.replace('_',' ', regex=True)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\323143973.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6_clean[columnas_a_convertir] = df6_clean[columnas_a_convertir].replace(' ', np.nan)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\323143973.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6_clean[columnas_a_convertir] = df6_clean[columnas_a_convertir].astype(float)

Verificar si aún hay Nan en columnas a convertir
Num_of_Loan                  0
Num_of_Delayed_Payment    6420
Changed_Credit_Limit      1942
dtype: int64
ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                         float64
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                   int64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age          float64
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [12]:
#Diagnóstico de valores nulos
for i in df6_clean.columns:
    print(i+':'+ str(df6_clean[i].isnull().sum()))

print(df6_clean)

ID:0
Customer_ID:0
Month:0
Name:9240
Age:0
SSN:0
Occupation:0
Annual_Income:0
Monthly_Inhand_Salary:13842
Num_Bank_Accounts:0
Num_Credit_Card:0
Interest_Rate:0
Num_of_Loan:0
Type_of_Loan:10520
Delay_from_due_date:0
Num_of_Delayed_Payment:6420
Changed_Credit_Limit:1942
Num_Credit_Inquiries:1806
Credit_Mix:0
Outstanding_Debt:0
Credit_Utilization_Ratio:0
Credit_History_Age:8341
Payment_of_Min_Amount:0
Total_EMI_per_month:0
Amount_invested_monthly:4132
Payment_Behaviour:0
Monthly_Balance:1105
Credit_Score:0
            ID Customer_ID     Month           Name    Age          SSN  \
0       0x1602   CUS_0xd40   January  Aaron Maashoh   23.0  821-00-0265
1       0x1603   CUS_0xd40  February  Aaron Maashoh   23.0  821-00-0265
2       0x1604   CUS_0xd40     March  Aaron Maashoh -500.0  821-00-0265
3       0x1605   CUS_0xd40     April  Aaron Maashoh   23.0  821-00-0265
4       0x1606   CUS_0xd40       May  Aaron Maashoh   23.0  821-00-0265
...        ...         ...       ...            ...    ...          ...
99994  0x25fe8  CUS_0x942c     March          Nicks   25.0  078-73-5990
99995  0x25fe9  CUS_0x942c     April          Nicks   25.0  078-73-5990
99996  0x25fea  CUS_0x942c       May          Nicks   25.0  078-73-5990
99997  0x25feb  CUS_0x942c      June          Nicks   25.0  078-73-5990
99998  0x25fec  CUS_0x942c      July          Nicks   25.0  078-73-5990

      Occupation  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0      Scientist       19114.12            1824.843333                  3
1      Scientist       19114.12                    NaN                  3
2      Scientist       19114.12                    NaN                  3
3      Scientist       19114.12                    NaN                  3
4      Scientist       19114.12            1824.843333                  3
...          ...            ...                    ...                ...
99994   Mechanic       39628.99            3359.415833                  4
99995   Mechanic       39628.99            3359.415833                  4
99996   Mechanic       39628.99            3359.415833                  4
99997   Mechanic       39628.99            3359.415833                  4
99998   Mechanic       39628.99            3359.415833                  4

       ...  Credit_Mix  Outstanding_Debt  Credit_Utilization_Ratio  \
0      ...                        809.98                 26.822620
1      ...        Good            809.98                 31.944960
2      ...        Good            809.98                 28.609352
3      ...        Good            809.98                 31.377862
4      ...        Good            809.98                 24.797347
...    ...         ...               ...                       ...
99994  ...                        502.38                 39.323569
99995  ...                        502.38                 34.663572
99996  ...                        502.38                 40.565631
99997  ...        Good            502.38                 41.255522
99998  ...        Good            502.38                 33.638208

          Credit_History_Age  Payment_of_Min_Amount  Total_EMI_per_month  \
0      22 Years and 1 Months                     No            49.574949
1                        NaN                     No            49.574949
2      22 Years and 3 Months                     No            49.574949
3      22 Years and 4 Months                     No            49.574949
4      22 Years and 5 Months                     No            49.574949
...                      ...                    ...                  ...
99994  31 Years and 5 Months                     No            35.104023
99995  31 Years and 6 Months                     No            35.104023
99996  31 Years and 7 Months                     No            35.104023
99997  31 Years and 8 Months                     No            35.104023
99998  31 Years and 9 Months                     No            35.104023

       Amount_invested_monthly                 Payment_Behaviour  \
0            80.41529543900253   High spent Small value payments
1           118.28022162236736    Low spent Large value payments
2              81.699521264648   Low spent Medium value payments
3            199.4580743910713    Low spent Small value payments
4           41.420153086217326  High spent Medium value payments
...                        ...                               ...
99994       140.58140274528395  High spent Medium value payments
99995        60.97133255718485   High spent Large value payments
99996        54.18595028760385  High spent Medium value payments
99997        24.02847744864441   High spent Large value payments
99998       251.67258219721603    Low spent Large value payments

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
99994          410.256158         Poor
99995          479.866228         Poor
99996           496.65161         Poor
99997          516.809083         Poor
99998          319.164979     Standard

[92400 rows x 28 columns]

In [13]:
# Para manejar valores nulos, nos apoyaremos en el registro duplicado correspondiente (considerando que son datos de panel)

# Función de imputación por duplicados
def imputar_con_logica_duplicados(df6_clean, columnas_a_imputar):
    df6_clean = df6_clean.copy()

    #Ordenamos por customer_ID y Month para mantener coherencia temporal
    df6_clean = df6_clean.sort_values(by=['Customer_ID','Month']).reset_index(drop=True)

    for col in columnas_a_imputar:
        #Trabajamos por grupos de clientes
        def imputar_grupo(grupo):
            #Si todo está NaN en esa columna para ese cliente, lo dejamos tal cual
            if grupo[col].isnull().all():
                return grupo[col]
            
            #Aplicamos imputación con duplicados
            valores = grupo[col].copy()

            for idx in range(len(valores)):
                if pd.isna(valores.iloc[idx]):
                    if idx == 0: #Primer registro del cliente
                        siguiente_valido = valores.iloc[idx+1:].dropna()
                        if not siguiente_valido.empty:
                            valores.iloc[idx] = siguiente_valido.iloc[0]
                    elif idx == len(valores) - 1: #Ultimo registro
                        anterior_valido = valores.iloc[:idx].dropna()
                        if not anterior_valido.empty:
                            valores.iloc[idx] = anterior_valido.iloc[-1]
                    else: #Registro intermedio
                        siguiente_valido = valores.iloc[idx+1:].dropna()
                        anterior_valido = valores.iloc[:idx].dropna()
                        if not siguiente_valido.empty:
                            valores.iloc[idx] = siguiente_valido.iloc[0]
                        elif not anterior_valido.empty:
                            valores.iloc[idx] = anterior_valido.iloc[-1]
            return valores
        
        #Aplicamos la función a cada grupo de clientes
        df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)

    return df6_clean

# Aplicamos limpiza invocando la función a las columnas con valores NaN (del diagnóstico)
columnas_con_nan = [
    'Name','Monthly_Inhand_Salary', 'Type_of_Loan', 'Num_of_Delayed_Payment',
    'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_History_Age',
    'Amount_invested_monthly', 'Monthly_Balance'
]

# Aplicar la función
df6_clean = imputar_con_logica_duplicados(df6_clean, columnas_con_nan)
   
print(df6_clean)

# Diagnosticamos nulos nuevamente
for i in df6_clean.columns:
    print(i+':'+ str(df6_clean[i].isnull().sum()))

print('\n Como se puede observar en el último diagnóstico de valores nulos, la mayoría de columnas fueron imputadas utilizando' \
' registros duplicados mediante backfill ó ffill según correspondía. Sin embargo, nos queda una columna importante que servirá como' \
' descriptor para los modelos de Clasificación, siendo esta "Type_of_Loan", una variable de tipo object que describe los tipos de ' \
'deuda que tiene el cliente. Dado que no se tiene referencia usando su propio Customer_ID, se rellenará la información con la palabra "Unknown",'
' la cual referenciará la falta de información, y que los modelos de Clasificación interiorizarán para manejar sus predicciones con información faltante.' \
'Sin embargo, antes es necesario comprobar el estado actual del dataframe para reducir al máximo los NaNs posibles en esta columna.')

C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\1379881226.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\1379881226.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\1379881226.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\1379881226.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\1379881226.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\1379881226.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\1379881226.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\1379881226.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\1379881226.py:40: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df6_clean[col] = df6_clean.groupby('Customer_ID').apply(imputar_grupo).reset_index(level=0, drop=True)

            ID Customer_ID     Month            Name   Age          SSN  \
0      0x16291  CUS_0x1000    August  Alistair Barrf  18.0  913-74-1218
1      0x1628b  CUS_0x1000  February  Alistair Barrf  17.0  913-74-1218
2      0x1628a  CUS_0x1000   January  Alistair Barrf  17.0  913-74-1218
3      0x16290  CUS_0x1000      July  Alistair Barrf  18.0  913-74-1218
4      0x1628f  CUS_0x1000      June  Alistair Barrf  18.0  913-74-1218
...        ...         ...       ...             ...   ...          ...
92395  0x25afa   CUS_0xffd   January        Damouniq  29.0  832-88-8320
92396  0x25b00   CUS_0xffd      July        Damouniq  30.0  832-88-8320
92397  0x25aff   CUS_0xffd      June        Damouniq  29.0  832-88-8320
92398  0x25afc   CUS_0xffd     March        Damouniq  29.0  832-88-8320
92399  0x25afe   CUS_0xffd       May        Damouniq  29.0  832-88-8320

      Occupation  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0         Lawyer       30625.94            2706.161667                  6
1         Lawyer       30625.94            2706.161667                  6
2         Lawyer       30625.94            2706.161667                  6
3         Lawyer       30625.94            2706.161667                  6
4         Lawyer       30625.94            2706.161667                  6
...          ...            ...                    ...                ...
92395  Scientist       41398.44            3749.870000                  8
92396  Scientist       41398.44            3749.870000                  8
92397  Scientist       41398.44            3749.870000                  8
92398  Scientist       41398.44            3749.870000                  8
92399    _______       41398.44            3749.870000                  8

       ...  Credit_Mix  Outstanding_Debt  Credit_Utilization_Ratio  \
0      ...         Bad           1562.91                 30.077191
1      ...         Bad           1562.91                 29.439759
2      ...         Bad           1562.91                 26.612093
3      ...         Bad           1562.91                 38.149539
4      ...         Bad           1562.91                 40.082272
...    ...         ...               ...                       ...
92395  ...    Standard           1701.88                 29.506673
92396  ...    Standard           1701.88                 33.916363
92397  ...    Standard           1701.88                 36.970072
92398  ...    Standard           1701.88                 25.175964
92399  ...    Standard           1701.88                 26.166508

          Credit_History_Age  Payment_of_Min_Amount  Total_EMI_per_month  \
0      10 Years and 9 Months                    Yes            42.941090
1      10 Years and 3 Months                    Yes            42.941090
2      10 Years and 2 Months                    Yes            42.941090
3      10 Years and 8 Months                    Yes            42.941090
4      10 Years and 7 Months                    Yes            42.941090
...                      ...                    ...                  ...
92395  18 Years and 2 Months                    Yes           182.976649
92396  18 Years and 8 Months                    Yes           182.976649
92397  18 Years and 7 Months                    Yes           182.976649
92398  18 Years and 4 Months                    Yes           182.976649
92399  18 Years and 6 Months                    Yes           182.976649

       Amount_invested_monthly                 Payment_Behaviour  \
0            77.31427572208112  High spent Medium value payments
1           176.13256665597928   High spent Small value payments
2           244.75028300769162    Low spent Large value payments
3           266.59716045509043    Low spent Small value payments
4           114.80240059146288   High spent Small value payments
...                        ...                               ...
92395       195.52927326749446    Low spent Large value payments
92396       257.98969352901736   High spent Small value payments
92397       47.007378731604064  High spent Medium value payments
92398       336.13023109571515    Low spent Small value payments
92399        104.6294735081563  High spent Medium value payments

          Monthly_Balance Credit_Score
0      400.36080052211616         Poor
1        311.542509588218         Poor
2       252.9247932365056     Standard
3       251.0779157891069         Poor
4      372.87267565273436         Poor
...                   ...          ...
92395          266.481077     Standard
92396          194.020657         Good
92397          395.002972     Standard
92398          145.880119     Standard
92399          337.380877     Standard

[92400 rows x 28 columns]
ID:0
Customer_ID:0
Month:0
Name:5
Age:0
SSN:0
Occupation:0
Annual_Income:0
Monthly_Inhand_Salary:0
Num_Bank_Accounts:0
Num_Credit_Card:0
Interest_Rate:0
Num_of_Loan:0
Type_of_Loan:10520
Delay_from_due_date:0
Num_of_Delayed_Payment:0
Changed_Credit_Limit:0
Num_Credit_Inquiries:0
Credit_Mix:0
Outstanding_Debt:0
Credit_Utilization_Ratio:0
Credit_History_Age:0
Payment_of_Min_Amount:0
Total_EMI_per_month:0
Amount_invested_monthly:0
Payment_Behaviour:0
Monthly_Balance:0
Credit_Score:0

 Como se puede observar en el último diagnóstico de valores nulos, la mayoría de columnas fueron imputadas utilizando registros duplicados mediante backfill ó ffill según correspondía. Sin embargo, nos queda una columna importante que servirá como descriptor para los modelos de Clasificación, siendo esta "Type_of_Loan", una variable de tipo object que describe los tipos de deuda que tiene el cliente. Dado que no se tiene referencia usando su propio Customer_ID, se rellenará la información con la palabra "Unknown", la cual referenciará la falta de información, y que los modelos de Clasificación interiorizarán para manejar sus predicciones con información faltante.Sin embargo, antes es necesario comprobar el estado actual del dataframe para reducir al máximo los NaNs posibles en esta columna.

In [14]:
# Convertir la columna Credit_History_Age a años (de object a float)
def convertir_credit_history_a_anios(texto):
    import numpy as np
    if pd.isnull(texto):
        return np.nan
    try:
        partes = texto.lower().replace("and", "").replace("months","month").replace("years","year").split()
        anios = int(partes[0]) if 'year' in partes[1] else 0
        meses = int(partes[2]) if len(partes) > 2 and 'month' in partes[3] else 0
        return round(anios + meses /12, 2)
    except:
        return np.nan
    
df6_clean['Credit_History_Age'] = df6_clean['Credit_History_Age'].apply(convertir_credit_history_a_anios)

#Identificamos caracteres extraños en cada columna luego de la imputación inicial

import re

# Función para identificar caracteres extraños en cada columna
def detectar_caracteres_extranos(df6):
    caracteres_por_columna = {}
    for col in df6.columns:
        valores_unicos = ''.join(df6[col].astype(str).unique())  # Unir todos los valores únicos como string
        caracteres_unicos = set(re.findall(r'[^a-zA-Z0-9\s.,-]', valores_unicos))  # Buscar caracteres no alfanuméricos comunes
        if caracteres_unicos:  # Solo guardar columnas con caracteres extraños
            caracteres_por_columna[col] = caracteres_unicos
    return caracteres_por_columna

# Identificar caracteres extraños en el dataframe
caracteres_extranos = detectar_caracteres_extranos(df6)

# Mostrar los resultados
for columna, caracteres in caracteres_extranos.items():
    print(f"Columna: {columna} -> Caracteres extraños detectados: {caracteres}")

print('\n Podemos observar que luego de nuestra imputación de NaNs mediante la lógica de duplicados, aún quedan caracteres extraños en descriptores ' \
'esenciales para entrenar modelos de Clasificación, como Occupation y Payment_Behaviour. Asimismo, si revisamos a profundidad nuestro dataframe hasta ' \
'ahora, existen valores incoherentes y/o sucios, como Age -500 o Num_of_Loan 1094, los cuales entorpecen tanto el procesamiento como el entrenamiento. Para ello, se aplicará ' \
'limpieza usando la misma lógica de duplicados, pero esta vez con criterios de imputación basados en la moda de los duplicados.')

Columna: Customer_ID -> Caracteres extraños detectados: {'_'}
Columna: Name -> Caracteres extraños detectados: {'"'}
Columna: SSN -> Caracteres extraños detectados: {'$', '&', '*', '@', '#', '%'}
Columna: Occupation -> Caracteres extraños detectados: {'_'}
Columna: Payment_Behaviour -> Caracteres extraños detectados: {'_', '@', '!', '#', '%'}

 Podemos observar que luego de nuestra imputación de NaNs mediante la lógica de duplicados, aún quedan caracteres extraños en descriptores esenciales para entrenar modelos de Clasificación, como Occupation y Payment_Behaviour. Asimismo, si revisamos a profundidad nuestro dataframe hasta ahora, existen valores incoherentes y/o sucios, como Age -500 o Num_of_Loan 1094, los cuales entorpecen tanto el procesamiento como el entrenamiento. Para ello, se aplicará limpieza usando la misma lógica de duplicados, pero esta vez con criterios de imputación basados en la moda de los duplicados.

In [15]:
# Función de limpieza utilizando duplicados mediante Name

import pandas as pd
import numpy as np
import re

def limpieza_avanzada_por_duplicados(df, columna_name='Name'):
    df = df.copy()

    # Convertimos a numérico las columnas posibles para detección correcta
    for col in df.select_dtypes(include='object'):
        try:
            df[col] = pd.to_numeric(df[col], errors='ignore')
        except:
            pass

    # 1. Trabajar primero con columnas numéricas
    columnas_numericas = df.select_dtypes(include=['int64', 'float64']).columns

    for col in columnas_numericas:
        if col == columna_name:
            continue  # No modificar el nombre

        # Calcular la moda por el nombre del cliente
        moda_por_cliente = df.groupby(columna_name)[col].agg(
            lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan
        )

        # Imputar donde hay NaN o donde el valor difiere de la moda
        for idx, row in df.iterrows():
            customer = row[columna_name]
            valor = row[col]
            moda = moda_por_cliente.get(customer, np.nan)

            if pd.isna(valor) or (not pd.isna(moda) and valor != moda):
                df.at[idx, col] = moda

        print(f"[DEBUG] Imputación numérica aplicada en '{col}'")

    # 2. Ahora columnas categóricas con caracteres extraños o NaN
    columnas_categoricas = df.select_dtypes(include='object').columns

    patron_extrano = re.compile(r'[^a-zA-Z0-9\s.,-]')

    for col in columnas_categoricas:
        if col == columna_name:
            continue

        def es_valor_extrano(x):
            if pd.isna(x): return True
            return bool(patron_extrano.search(str(x)))

        mascara_extranos = df[col].apply(es_valor_extrano)

        # Obtener moda categórica por nombre del cliente (para valores válidos)
        moda_cat_por_cliente = (
            df[~mascara_extranos].groupby(columna_name)[col]
            .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
        )

        # Aplicar la imputación
        for idx in df[mascara_extranos].index:
            customer = df.at[idx, columna_name]
            moda = moda_cat_por_cliente.get(customer, np.nan)
            if pd.notna(moda):
                df.at[idx, col] = moda

        print(f"[DEBUG] Imputación categórica aplicada en '{col}'")

    return df

#Ejecutar función
df6_clean = limpieza_avanzada_por_duplicados(df6_clean)

C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\2307353719.py:13: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

[DEBUG] Imputación numérica aplicada en 'Age'
[DEBUG] Imputación numérica aplicada en 'Annual_Income'
[DEBUG] Imputación numérica aplicada en 'Monthly_Inhand_Salary'
[DEBUG] Imputación numérica aplicada en 'Num_Bank_Accounts'
[DEBUG] Imputación numérica aplicada en 'Num_Credit_Card'
[DEBUG] Imputación numérica aplicada en 'Interest_Rate'
[DEBUG] Imputación numérica aplicada en 'Num_of_Loan'
[DEBUG] Imputación numérica aplicada en 'Delay_from_due_date'
[DEBUG] Imputación numérica aplicada en 'Num_of_Delayed_Payment'
[DEBUG] Imputación numérica aplicada en 'Changed_Credit_Limit'
[DEBUG] Imputación numérica aplicada en 'Num_Credit_Inquiries'
[DEBUG] Imputación numérica aplicada en 'Credit_Utilization_Ratio'
[DEBUG] Imputación numérica aplicada en 'Credit_History_Age'
[DEBUG] Imputación numérica aplicada en 'Total_EMI_per_month'
[DEBUG] Imputación categórica aplicada en 'ID'
[DEBUG] Imputación categórica aplicada en 'Customer_ID'
[DEBUG] Imputación categórica aplicada en 'Month'
[DEBUG] Imputación categórica aplicada en 'SSN'
[DEBUG] Imputación categórica aplicada en 'Occupation'
[DEBUG] Imputación categórica aplicada en 'Type_of_Loan'
[DEBUG] Imputación categórica aplicada en 'Credit_Mix'
[DEBUG] Imputación categórica aplicada en 'Outstanding_Debt'
[DEBUG] Imputación categórica aplicada en 'Payment_of_Min_Amount'
[DEBUG] Imputación categórica aplicada en 'Amount_invested_monthly'
[DEBUG] Imputación categórica aplicada en 'Payment_Behaviour'

C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\2307353719.py:58: UserWarning: Unable to sort modes: '<' not supported between instances of 'float' and 'str'
  .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
C:\Users\esteb\AppData\Local\Temp\ipykernel_4276\2307353719.py:58: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'float'
  .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)

[DEBUG] Imputación categórica aplicada en 'Monthly_Balance'
[DEBUG] Imputación categórica aplicada en 'Credit_Score'

In [16]:
# Separar columna 'Type_of_Loan' en categorías individuales para mejorar codificación y granularidad del dataframe
import pandas as pd
import numpy as np

# Crear una copia temporal del dataframe
df6_temp = df6_clean.copy()

# Limpiar comillas dobles, espacios y reemplazar "and" por ","
df6_temp['Type_of_Loan'] = (
    df6_temp['Type_of_Loan']
    .str.replace('"','',regex=False)
    .str.replace(' and ',', ', regex=False)
    .str.strip()
)

# Extraer todos los tipos únicos de prestamos (ignorando los NaN)
tipos_prestamo = set()
df6_temp['Type_of_Loan'].dropna().apply(lambda x: tipos_prestamo.update([i.strip() for i in x.split(',') if i.strip() != '']))

# Crear una columna por cada tipo de préstamo
for tipo in tipos_prestamo:
    df6_temp[tipo] = df6_temp['Type_of_Loan'].apply(
        lambda x: 'Yes' if pd.notna(x) and tipo in x else ('No' if pd.notna(x) else np.nan)
    )

# Eliminar la columna original
df6_temp.drop(columns=['Type_of_Loan'], inplace=True)

print(df6_temp)

# Diagnóstico
# Diagnóstico
print(f"Tipos de préstamo extraídos: {sorted(tipos_prestamo)}")
print("Valores únicos por nueva columna (debería ser 'Yes', 'No' o NaN):\n")
print(df6_temp[list(tipos_prestamo)].nunique())

# Reasignamos al dataframe original

df6_clean = df6_temp.copy()

            ID Customer_ID     Month            Name   Age          SSN  \
0      0x16291  CUS_0x1000    August  Alistair Barrf  45.0  913-74-1218
1      0x1628b  CUS_0x1000  February  Alistair Barrf  45.0  913-74-1218
2      0x1628a  CUS_0x1000   January  Alistair Barrf  45.0  913-74-1218
3      0x16290  CUS_0x1000      July  Alistair Barrf  45.0  913-74-1218
4      0x1628f  CUS_0x1000      June  Alistair Barrf  45.0  913-74-1218
...        ...         ...       ...             ...   ...          ...
92395  0x25afa   CUS_0xffd   January        Damouniq  29.0  832-88-8320
92396  0x25b00   CUS_0xffd      July        Damouniq  29.0  832-88-8320
92397  0x25aff   CUS_0xffd      June        Damouniq  29.0  832-88-8320
92398  0x25afc   CUS_0xffd     March        Damouniq  29.0  832-88-8320
92399  0x25afe   CUS_0xffd       May        Damouniq  29.0  832-88-8320

      Occupation  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0         Lawyer       30625.94            2706.161667                  6
1         Lawyer       30625.94            2706.161667                  6
2         Lawyer       30625.94            2706.161667                  6
3         Lawyer       30625.94            2706.161667                  6
4         Lawyer       30625.94            2706.161667                  6
...          ...            ...                    ...                ...
92395  Scientist       41398.44            3749.870000                  8
92396  Scientist       41398.44            3749.870000                  8
92397  Scientist       41398.44            3749.870000                  8
92398  Scientist       41398.44            3749.870000                  8
92399  Scientist       41398.44            3749.870000                  8

       ...  Credit_Score  Payday Loan  Auto Loan  Credit-Builder Loan  \
0      ...          Poor           No         No                  Yes
1      ...          Poor           No         No                  Yes
2      ...      Standard           No         No                  Yes
3      ...          Poor           No         No                  Yes
4      ...          Poor           No         No                  Yes
...    ...           ...          ...        ...                  ...
92395  ...      Standard          Yes        Yes                   No
92396  ...          Good          Yes        Yes                   No
92397  ...      Standard          Yes        Yes                   No
92398  ...      Standard          Yes        Yes                   No
92399  ...      Standard          Yes        Yes                   No

       Not Specified  Debt Consolidation Loan  Student Loan Mortgage Loan  \
0                 No                       No            No            No
1                 No                       No            No            No
2                 No                       No            No            No
3                 No                       No            No            No
4                 No                       No            No            No
...              ...                      ...           ...           ...
92395             No                       No            No           Yes
92396             No                       No            No           Yes
92397             No                       No            No           Yes
92398             No                       No            No           Yes
92399             No                       No            No           Yes

      Personal Loan  Home Equity Loan
0                No               Yes
1                No               Yes
2                No               Yes
3                No               Yes
4                No               Yes
...             ...               ...
92395            No               Yes
92396            No               Yes
92397            No               Yes
92398            No               Yes
92399            No               Yes

[92400 rows x 36 columns]
Tipos de préstamo extraídos: ['Auto Loan', 'Credit-Builder Loan', 'Debt Consolidation Loan', 'Home Equity Loan', 'Mortgage Loan', 'Not Specified', 'Payday Loan', 'Personal Loan', 'Student Loan']
Valores únicos por nueva columna (debería ser 'Yes', 'No' o NaN):

Payday Loan                2
Auto Loan                  2
Credit-Builder Loan        2
Not Specified              2
Debt Consolidation Loan    2
Student Loan               2
Mortgage Loan              2
Personal Loan              2
Home Equity Loan           2
dtype: int64

In [17]:
# Verificar detalles finales de limpieza 

print("\n[INFO] Ocupaciones únicas antes de limpiar:")
print(sorted(df6_clean['Occupation'].dropna().unique()))

print('\n[INFO] Observamos que existen registros con el valor sucio "_______". Se inicia proceso de imputación por duplicado...')

# Creamos una copia para no afectar el original
df6_temp = df6_clean.copy()

# Creamos la máscara inicial
mascara_sucia = df6_temp['Occupation'] == '_______'
sucios_previos = mascara_sucia.sum()

# Bucle con bandera de control
while True:
    # Calcular la moda por Customer_ID (excluyendo registros sucios)
    moda_occupation_por_cliente = (
        df6_temp[~mascara_sucia]
        .groupby('Customer_ID')['Occupation']
        .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan)
    )

    # Imputar donde sea posible
    for idx in df6_temp[mascara_sucia].index:
        customer = df6_temp.at[idx, 'Customer_ID']
        ocupacion_moda = moda_occupation_por_cliente.get(customer, np.nan)
        if pd.notna(ocupacion_moda):
            df6_temp.at[idx, 'Occupation'] = ocupacion_moda

    # Recalcular la máscara y comparar
    mascara_sucia = df6_temp['Occupation'] == '_______'
    sucios_actuales = mascara_sucia.sum()
    print(f"[DEBUG] Registros aún sucios: {sucios_actuales}")

    # Verificar si no hubo progreso → cortar
    if sucios_actuales == sucios_previos:
        print("[INFO] No se puede imputar más. Se procede a reemplazar por 'Unknown'.")
        break

    sucios_previos = sucios_actuales

# Reemplazar los que no pudieron imputarse
df6_temp.loc[df6_temp['Occupation'] == '_______', 'Occupation'] = 'Unknown'

# Asignar al dataframe limpio final
df6_clean = df6_temp.copy()

# Verificación final
print("\n[INFO] Ocupaciones únicas después de limpieza:")
print(sorted(df6_clean['Occupation'].dropna().unique()))

[INFO] Ocupaciones únicas antes de limpiar:
['Accountant', 'Architect', 'Developer', 'Doctor', 'Engineer', 'Entrepreneur', 'Journalist', 'Lawyer', 'Manager', 'Mechanic', 'Media_Manager', 'Musician', 'Scientist', 'Teacher', 'Writer', '_______']

[INFO] Observamos que existen registros con el valor sucio "_______". Se inicia proceso de imputación por duplicado...
[DEBUG] Registros aún sucios: 0
[DEBUG] Registros aún sucios: 0
[INFO] No se puede imputar más. Se procede a reemplazar por 'Unknown'.

[INFO] Ocupaciones únicas después de limpieza:
['Accountant', 'Architect', 'Developer', 'Doctor', 'Engineer', 'Entrepreneur', 'Journalist', 'Lawyer', 'Manager', 'Mechanic', 'Media_Manager', 'Musician', 'Scientist', 'Teacher', 'Writer']

In [18]:
# Diagnosticamos nulos nuevamente
for i in df6_clean.columns:
    print(i+':'+ str(df6_clean[i].isnull().sum()))

# Etiquetar como 'Unknown' valores NaN de la columnas individualizadas
df6_clean[list(tipos_prestamo)] = df6_clean[list(tipos_prestamo)].fillna('Unknown')

# Etiquetar como 'Unknown' valores NaN de la columna Name
df6_clean['Name'] = df6_clean['Name'].fillna('Unknown')

# Etiquetar como 'Unknown' valores vacíos de la columna Credit_Mix
df6_clean['Credit_Mix'] = df6_clean['Credit_Mix'].replace(' ','Unknown')

#Diagnosticamos por última vez los valores nulos en las columnas del dataframe
for i in df6_clean.columns:
    print(i+':'+ str(df6_clean[i].isnull().sum()))

#Verificar tamaño del dataframe luego de la limpieza
print(df6_clean.shape)

ID:0
Customer_ID:0
Month:0
Name:5
Age:0
SSN:0
Occupation:0
Annual_Income:0
Monthly_Inhand_Salary:0
Num_Bank_Accounts:0
Num_Credit_Card:0
Interest_Rate:0
Num_of_Loan:0
Delay_from_due_date:0
Num_of_Delayed_Payment:0
Changed_Credit_Limit:0
Num_Credit_Inquiries:0
Credit_Mix:0
Outstanding_Debt:0
Credit_Utilization_Ratio:0
Credit_History_Age:0
Payment_of_Min_Amount:0
Total_EMI_per_month:0
Amount_invested_monthly:0
Payment_Behaviour:0
Monthly_Balance:0
Credit_Score:0
Payday Loan:7300
Auto Loan:7300
Credit-Builder Loan:7300
Not Specified:7300
Debt Consolidation Loan:7300
Student Loan:7300
Mortgage Loan:7300
Personal Loan:7300
Home Equity Loan:7300
ID:0
Customer_ID:0
Month:0
Name:0
Age:0
SSN:0
Occupation:0
Annual_Income:0
Monthly_Inhand_Salary:0
Num_Bank_Accounts:0
Num_Credit_Card:0
Interest_Rate:0
Num_of_Loan:0
Delay_from_due_date:0
Num_of_Delayed_Payment:0
Changed_Credit_Limit:0
Num_Credit_Inquiries:0
Credit_Mix:0
Outstanding_Debt:0
Credit_Utilization_Ratio:0
Credit_History_Age:0
Payment_of_Min_Amount:0
Total_EMI_per_month:0
Amount_invested_monthly:0
Payment_Behaviour:0
Monthly_Balance:0
Credit_Score:0
Payday Loan:0
Auto Loan:0
Credit-Builder Loan:0
Not Specified:0
Debt Consolidation Loan:0
Student Loan:0
Mortgage Loan:0
Personal Loan:0
Home Equity Loan:0
(92400, 36)

In [19]:
# Transformación de columnas df6_clean final

# Columnas que deben ser numéricas pero están como object
columnas_a_convertir = ['Outstanding_Debt', 'Amount_invested_monthly', 'Monthly_Balance']

# Convertir a numérico (float64), forzando errores a NaN
for col in columnas_a_convertir:
    df6_clean[col] = pd.to_numeric(df6_clean[col], errors='coerce')

# Verificación de tipos
print(df6_clean[columnas_a_convertir].dtypes)

Outstanding_Debt           float64
Amount_invested_monthly    float64
Monthly_Balance            float64
dtype: object

In [20]:
df6_clean.to_csv('train_clean(sin_codificar).csv', index=False)

import os
print(os.getcwd())

d:\Ciencia de Datos y Análisis con Python\Bases de Datos Kaggle\Credit Score Classification feb\Archivos Repositorio Github

In [21]:
#Codificación de variables categóricas dataframe de entrenamiento

import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Copia del dataframe limpio
df6_cleaned_final = df6_clean.copy()

# Limpieza de 'Occupation'

# Lista completa de ocupaciones válidas
ocupaciones_validas = [
    'Lawyer', 'Mechanic', 'Media_Manager', 'Doctor', 'Journalist',
    'Accountant', 'Manager', 'Entrepreneur', 'Scientist', 'Architect',
    'Teacher', 'Engineer', 'Writer', 'Developer', 'Musician', 'Unknown'
]

# Reemplazar cualquier valor no listado por 'Other'
df6_cleaned_final['Occupation'] = df6_cleaned_final['Occupation'].apply(
    lambda x: x if x in ocupaciones_validas else 'Other'
)

# Definimos un mapeo numérico del 1 al 17 (sin significado ordinal) para los valores de Occupation
occupation_categories = ocupaciones_validas + ['Other']
occupation_mapping = {name: idx + 1 for idx, name in enumerate(occupation_categories)}
df6_cleaned_final['Occupation_Encoded'] = df6_cleaned_final['Occupation'].map(occupation_mapping)

#Verificación
print('Verificación codificación Occupation')
print(df6_cleaned_final[['Occupation', 'Occupation_Encoded']].drop_duplicates().sort_values('Occupation_Encoded'))

# Reemplazar columna original por codificada (Occupation_Encoded)
df6_cleaned_final['Occupation'] = df6_cleaned_final['Occupation_Encoded']
df6_cleaned_final.drop(columns=['Occupation'], inplace=True)

# Codificación de ordinales

# Credit_Mix (ordinal: Bad < Standard < Good, Unknown)
mix_mapping = {'Bad': 0, 'Standard': 1, 'Good': 2, 'Unknown':3}
df6_cleaned_final['Credit_Mix_Encoded'] = df6_cleaned_final['Credit_Mix'].map(mix_mapping)

# Payment_of_Min_Amount (ordinal: NM < No < Yes)
paymin_mapping = {'NM': 0, 'No': 1, 'Yes': 2}
df6_cleaned_final['Payment_of_Min_Amount_Encoded'] = df6_cleaned_final['Payment_of_Min_Amount'].map(paymin_mapping)

# Eliminamos las columnas originales de Credit_Mix y Payment_of_Min_Amount 
df6_cleaned_final.drop(columns=['Credit_Mix', 'Payment_of_Min_Amount'], inplace=True)

# Definir mapeo de categorías de Payment_Behaviour
payment_behaviour_mapping = {
    'High spent Medium value payments': 1,
    'High spent Small value payments': 2,
    'Low spent Large value payments': 3,
    'Low spent Small value payments': 4,
    'Low spent Medium value payments': 5,
    'High spent Large value payments': 6
}

# Asignar valor 7 a cualquier valor que no esté en el diccionario (Other)
df6_cleaned_final['Payment_Behaviour_Encoded'] = df6_cleaned_final['Payment_Behaviour'].map(payment_behaviour_mapping).fillna(7)

# Reemplazar columna original
df6_cleaned_final['Payment_Behaviour'] = df6_cleaned_final['Payment_Behaviour_Encoded']
df6_cleaned_final.drop(columns=['Payment_Behaviour_Encoded'], inplace=True)

# Codificación de columnas individuales de préstamos

loan_cols = [
    'Auto Loan', 'Credit-Builder Loan', 'Debt Consolidation Loan', 'Home Equity Loan',
    'Mortgage Loan', 'Not Specified', 'Payday Loan', 'Personal Loan', 'Student Loan'
]

# Mapeo Yes/No/Unknown → 2/1/0
loan_mapping = {'Unknown': 0, 'No': 1, 'Yes': 2}

for col in loan_cols:
    df6_cleaned_final[col + ' Encoded'] = df6_cleaned_final[col].map(loan_mapping)

# Codificar variable target Credit_Score
credit_score_mapping = {'Poor':0, 'Standard':1, 'Good':2}
df6_cleaned_final['Credit_Score_Encoded'] = df6_cleaned_final['Credit_Score'].map(credit_score_mapping)

# Eliminamos la columna original
df6_cleaned_final.drop(columns=['Credit_Score'], inplace=True)

#Verificamos codificación Credit_Score
print('Verificación codificación Credit_Score (y)')
print(df6_cleaned_final['Credit_Score_Encoded'].value_counts())

# Eliminar columnas de texto de préstamos
df6_cleaned_final.drop(columns=loan_cols, inplace=True)

# Verificación final

print("Dimensiones finales del dataset codificado:", df6_cleaned_final.shape)
print("Columnas codificadas (últimas):", df6_cleaned_final.columns[-10:].tolist())
print(df6_cleaned_final)
print(df6_cleaned_final['Credit_Score_Encoded'])
print(df6_cleaned_final['Credit_Mix_Encoded'])
print(df6_cleaned_final['Payment_of_Min_Amount_Encoded'])

Verificación codificación Occupation
        Occupation  Occupation_Encoded
0           Lawyer                   1
7         Mechanic                   2
14   Media_Manager                   3
22          Doctor                   4
37      Journalist                   5
44      Accountant                   6
51         Manager                   7
58    Entrepreneur                   8
66       Scientist                   9
88       Architect                  10
103        Teacher                  11
151       Engineer                  12
166         Writer                  13
203      Developer                  14
254       Musician                  15
Verificación codificación Credit_Score (y)
Credit_Score_Encoded
1    49182
0    26773
2    16445
Name: count, dtype: int64
Dimensiones finales del dataset codificado: (92400, 36)
Columnas codificadas (últimas): ['Auto Loan Encoded', 'Credit-Builder Loan Encoded', 'Debt Consolidation Loan Encoded', 'Home Equity Loan Encoded', 'Mortgage Loan Encoded', 'Not Specified Encoded', 'Payday Loan Encoded', 'Personal Loan Encoded', 'Student Loan Encoded', 'Credit_Score_Encoded']
            ID Customer_ID     Month            Name   Age          SSN  \
0      0x16291  CUS_0x1000    August  Alistair Barrf  45.0  913-74-1218
1      0x1628b  CUS_0x1000  February  Alistair Barrf  45.0  913-74-1218
2      0x1628a  CUS_0x1000   January  Alistair Barrf  45.0  913-74-1218
3      0x16290  CUS_0x1000      July  Alistair Barrf  45.0  913-74-1218
4      0x1628f  CUS_0x1000      June  Alistair Barrf  45.0  913-74-1218
...        ...         ...       ...             ...   ...          ...
92395  0x25afa   CUS_0xffd   January        Damouniq  29.0  832-88-8320
92396  0x25b00   CUS_0xffd      July        Damouniq  29.0  832-88-8320
92397  0x25aff   CUS_0xffd      June        Damouniq  29.0  832-88-8320
92398  0x25afc   CUS_0xffd     March        Damouniq  29.0  832-88-8320
92399  0x25afe   CUS_0xffd       May        Damouniq  29.0  832-88-8320

       Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0           30625.94            2706.161667                  6
1           30625.94            2706.161667                  6
2           30625.94            2706.161667                  6
3           30625.94            2706.161667                  6
4           30625.94            2706.161667                  6
...              ...                    ...                ...
92395       41398.44            3749.870000                  8
92396       41398.44            3749.870000                  8
92397       41398.44            3749.870000                  8
92398       41398.44            3749.870000                  8
92399       41398.44            3749.870000                  8

       Num_Credit_Card  ...  Auto Loan Encoded  Credit-Builder Loan Encoded  \
0                    5  ...                  1                            2
1                    5  ...                  1                            2
2                    5  ...                  1                            2
3                    5  ...                  1                            2
4                    5  ...                  1                            2
...                ...  ...                ...                          ...
92395                7  ...                  2                            1
92396                7  ...                  2                            1
92397                7  ...                  2                            1
92398                7  ...                  2                            1
92399                7  ...                  2                            1

       Debt Consolidation Loan Encoded  Home Equity Loan Encoded  \
0                                    1                         2
1                                    1                         2
2                                    1                         2
3                                    1                         2
4                                    1                         2
...                                ...                       ...
92395                                1                         2
92396                                1                         2
92397                                1                         2
92398                                1                         2
92399                                1                         2

       Mortgage Loan Encoded  Not Specified Encoded  Payday Loan Encoded  \
0                          1                      1                    1
1                          1                      1                    1
2                          1                      1                    1
3                          1                      1                    1
4                          1                      1                    1
...                      ...                    ...                  ...
92395                      2                      1                    2
92396                      2                      1                    2
92397                      2                      1                    2
92398                      2                      1                    2
92399                      2                      1                    2

       Personal Loan Encoded  Student Loan Encoded  Credit_Score_Encoded
0                          1                     1                     0
1                          1                     1                     0
2                          1                     1                     1
3                          1                     1                     0
4                          1                     1                     0
...                      ...                   ...                   ...
92395                      1                     1                     1
92396                      1                     1                     2
92397                      1                     1                     1
92398                      1                     1                     1
92399                      1                     1                     1

[92400 rows x 36 columns]
0        0
1        0
2        1
3        0
4        0
        ..
92395    1
92396    2
92397    1
92398    1
92399    1
Name: Credit_Score_Encoded, Length: 92400, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
92395    1
92396    1
92397    1
92398    1
92399    1
Name: Credit_Mix_Encoded, Length: 92400, dtype: int64
0        2
1        2
2        2
3        2
4        2
        ..
92395    2
92396    2
92397    2
92398    2
92399    2
Name: Payment_of_Min_Amount_Encoded, Length: 92400, dtype: int64

In [22]:
# Estandarización de variables numéricas

from sklearn.preprocessing import MinMaxScaler

# Columnas numéricas relevantes para similitud
cols_numericas = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 
    'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 
    'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 
    'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 
    'Total_EMI_per_month', 'Amount_invested_monthly', 'Monthly_Balance'
]

scaler = MinMaxScaler()
df6_cleaned_final[cols_numericas] = scaler.fit_transform(df6_cleaned_final[cols_numericas])

columnas_a_imprimir = [
    'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 
    'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date', 
    'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 
    'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 
    'Total_EMI_per_month', 'Amount_invested_monthly', 'Monthly_Balance'
]

#Verificación estandarización columnas numéricas
print(df6_cleaned_final[columnas_a_imprimir])

            Age  Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0      0.980216       0.136547               0.161232           0.636364
1      0.980216       0.136547               0.161232           0.636364
2      0.980216       0.136547               0.161232           0.636364
3      0.980216       0.136547               0.161232           0.636364
4      0.980216       0.136547               0.161232           0.636364
...         ...            ...                    ...                ...
92395  0.951439       0.198822               0.231275           0.818182
92396  0.951439       0.198822               0.231275           0.818182
92397  0.951439       0.198822               0.231275           0.818182
92398  0.951439       0.198822               0.231275           0.818182
92399  0.951439       0.198822               0.231275           0.818182

       Num_Credit_Card  Interest_Rate  Num_of_Loan  Delay_from_due_date  \
0             0.454545       0.031088     0.935780             0.253731
1             0.454545       0.031088     0.935780             0.253731
2             0.454545       0.031088     0.935780             0.253731
3             0.454545       0.031088     0.935780             0.253731
4             0.454545       0.031088     0.935780             0.253731
...                ...            ...          ...                  ...
92395         0.636364       0.031088     0.972477             0.417910
92396         0.636364       0.031088     0.972477             0.417910
92397         0.636364       0.031088     0.972477             0.417910
92398         0.636364       0.031088     0.972477             0.417910
92399         0.636364       0.031088     0.972477             0.417910

       Num_of_Delayed_Payment  Changed_Credit_Limit  Num_Credit_Inquiries  \
0                    0.003276              0.336668              0.004980
1                    0.003276              0.336668              0.004980
2                    0.003276              0.336668              0.004980
3                    0.003276              0.336668              0.004980
4                    0.003276              0.336668              0.004980
...                       ...                   ...                   ...
92395                0.004467              0.430980              0.003169
92396                0.004467              0.430980              0.003169
92397                0.004467              0.430980              0.003169
92398                0.004467              0.430980              0.003169
92399                0.004467              0.430980              0.003169

       Outstanding_Debt  Credit_Utilization_Ratio  Credit_History_Age  \
0              0.312671                  0.365064            0.300387
1              0.312671                  0.365064            0.300387
2              0.312671                  0.365064            0.300387
3              0.312671                  0.365064            0.300387
4              0.312671                  0.365064            0.300387
...                 ...                       ...                 ...
92395          0.340477                  0.285773            0.538553
92396          0.340477                  0.285773            0.538553
92397          0.340477                  0.285773            0.538553
92398          0.340477                  0.285773            0.538553
92399          0.340477                  0.285773            0.538553

       Total_EMI_per_month  Amount_invested_monthly  Monthly_Balance
0                  0.02523                 0.039100         0.249903
1                  0.02523                 0.089076         0.194462
2                  0.02523                 0.123778         0.157873
3                  0.02523                 0.134827         0.156720
4                  0.02523                 0.058059         0.232745
...                    ...                      ...              ...
92395              0.10751                 0.098886         0.166334
92396              0.10751                 0.130474         0.121104
92397              0.10751                 0.023773         0.246559
92398              0.10751                 0.169992         0.091055
92399              0.10751                 0.052915         0.210591

[92400 rows x 17 columns]

In [23]:
#Diagnosticamos por última vez los valores nulos en las columnas del dataframe
for i in df6_cleaned_final.columns:
    print(i+':'+ str(df6_cleaned_final[i].isnull().sum()))

ID:0
Customer_ID:0
Month:0
Name:0
Age:0
SSN:0
Annual_Income:0
Monthly_Inhand_Salary:0
Num_Bank_Accounts:0
Num_Credit_Card:0
Interest_Rate:0
Num_of_Loan:0
Delay_from_due_date:0
Num_of_Delayed_Payment:0
Changed_Credit_Limit:0
Num_Credit_Inquiries:0
Outstanding_Debt:0
Credit_Utilization_Ratio:0
Credit_History_Age:0
Total_EMI_per_month:0
Amount_invested_monthly:0
Payment_Behaviour:0
Monthly_Balance:0
Occupation_Encoded:0
Credit_Mix_Encoded:0
Payment_of_Min_Amount_Encoded:0
Auto Loan Encoded:0
Credit-Builder Loan Encoded:0
Debt Consolidation Loan Encoded:0
Home Equity Loan Encoded:0
Mortgage Loan Encoded:0
Not Specified Encoded:0
Payday Loan Encoded:0
Personal Loan Encoded:0
Student Loan Encoded:0
Credit_Score_Encoded:0

In [24]:
print(sorted(df6_cleaned_final['Credit_Mix_Encoded'].dropna().unique()))
print(sorted(df6_clean['Credit_Mix'].dropna().unique()))

[0, 1, 2, 3]
['Bad', 'Good', 'Standard', 'Unknown']

In [25]:
# Detectar errores pre-exportación del csv

import re

# Copia de seguridad antes de limpiar
df_temp = df6_cleaned_final.copy()

# Patrón de caracteres problemáticos
patron_caracteres_invalidos = r'["\',]'

# Inicializar bandera
nombres_previos_invalidos = -1

while True:
    # Detectar nombres con caracteres indeseados
    errores_nombres = df_temp[df_temp['Name'].str.contains(patron_caracteres_invalidos, regex=True, na=False)]

    # Ver cuántos quedan
    errores_actuales = len(errores_nombres)

    print(f"[DEBUG] Nombres con caracteres problemáticos: {errores_actuales}")

    # Si no hay avance (mismo número de errores), salimos del bucle
    if errores_actuales == nombres_previos_invalidos:
        print("[INFO] No se detecta avance, se asume limpieza finalizada.")
        break

    # Actualizar bandera
    nombres_previos_invalidos = errores_actuales

    # Corrección de errores
    df_temp['Name'] = (
        df_temp['Name']
        .str.replace('"', '', regex=False)
        .str.replace("'", '', regex=False)
        .str.replace(r',+', ',', regex=True)  # múltiples comas → una sola
        .str.replace(',', '', regex=False)    # luego eliminar las comas
        .str.replace(' ', '', regex=False)    # eliminar espacios
        .str.strip()                          # limpiar bordes
    )

# Asignamos a df limpio final
df6_cleaned_final = df_temp.copy()

# Verificación final de los primeros valores únicos
print("\n[INFO] Primeros valores únicos de la columna Name post-limpieza:")
print(df6_cleaned_final['Name'].dropna().unique()[:30])

[DEBUG] Nombres con caracteres problemáticos: 882
[DEBUG] Nombres con caracteres problemáticos: 0
[DEBUG] Nombres con caracteres problemáticos: 0
[INFO] No se detecta avance, se asume limpieza finalizada.

[INFO] Primeros valores únicos de la columna Name post-limpieza:
['AlistairBarrf' 'Arunah' 'Shirboni' 'Schneyerh' 'Cameront' 'Holtono'
 'Felsenthalq' 'Josephv' 'NeilChatterjeex' 'Rhysn' 'Wahbap' 'Matthewm'
 'B.h' 'TimKellyf' 'JonathanStempela' 'MakiShirakip' 'JanetMcGurtyg'
 'Leahk' 'Kentaros' 'Markm' 'LuciaMutikanin' 'Hornbyb' 'DavidSheppardv'
 'PatriciaZengerlel' 'Lopezz' 'SylviaWestallq' 'AndreasCremero'
 'AlwynScottk' 'Dorfmanv' 'Karenh']

In [26]:
df6_cleaned_final.to_csv('train_clean(codificado).csv', index=False)

import os
print(os.getcwd())

d:\Ciencia de Datos y Análisis con Python\Bases de Datos Kaggle\Credit Score Classification feb\Archivos Repositorio Github

In [27]:
print(df6_cleaned_final.dtypes)

ID                                  object
Customer_ID                         object
Month                               object
Name                                object
Age                                float64
SSN                                 object
Annual_Income                      float64
Monthly_Inhand_Salary              float64
Num_Bank_Accounts                  float64
Num_Credit_Card                    float64
Interest_Rate                      float64
Num_of_Loan                        float64
Delay_from_due_date                float64
Num_of_Delayed_Payment             float64
Changed_Credit_Limit               float64
Num_Credit_Inquiries               float64
Outstanding_Debt                   float64
Credit_Utilization_Ratio           float64
Credit_History_Age                 float64
Total_EMI_per_month                float64
Amount_invested_monthly            float64
Payment_Behaviour                    int64
Monthly_Balance                    float64
Occupation_Encoded                   int64
Credit_Mix_Encoded                   int64
Payment_of_Min_Amount_Encoded        int64
Auto Loan Encoded                    int64
Credit-Builder Loan Encoded          int64
Debt Consolidation Loan Encoded      int64
Home Equity Loan Encoded             int64
Mortgage Loan Encoded                int64
Not Specified Encoded                int64
Payday Loan Encoded                  int64
Personal Loan Encoded                int64
Student Loan Encoded                 int64
Credit_Score_Encoded                 int64
dtype: object

In [28]:
print(df6_clean.dtypes)

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                         float64
SSN                          object
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age          float64
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
Payday Loan                  object
Auto Loan                    object
Credit-Builder Loan          object
Not Specified                object
Debt Consolidation Loan      object
Student Loan                 object
Mortgage Loan                object
Personal Loan                object
Home Equity Loan             object
dtype: object